.button-wrapper {
  display: flex;
  justify-content: flex-end;
  .add-btn {
    border: none;
    color: white;
    padding:10px 24px !important;
    cursor: pointer;
    background-color: #3d768f;
    margin: 12px;
    border-radius: 7px;
  }
}
.list-wrapper {
  display: inline-flex;
}
